body, html {
	height: 100%;
	min-height: 100%;
}

// body {
// 	@media screen and (max-width: $break2) {
// 		overflow-x: hidden;
// 	}
// }

#container {
	height: 100%;
	width: 100%;
	position: relative;
	> nav.main {
		width: $navWidth;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		transition: margin .3s;
		z-index: $z3;
		overflow: hidden;

		.ps-scrollbar-y-rail {
			position: absolute;
			right: 0;
			width: 5px;
			z-index: $z4;
			.ps-scrollbar-y {
				width: 5px;
				position: absolute;
				right: 0;
			}
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 20px 0 0 0;

			a {
				display: block;
				padding: 20px;
				margin-top: 30px;
				line-height: 20px;
			}
			li:first-child a {
				text-align: center;
				margin-top: 0;
				min-height: 59px;
				@media screen and (max-width: $break2) {
					visibility: hidden;
				}
			}
		}
		@media screen and (max-width: $break2) {
			margin-left: -$navWidth;
			&.mobileShown {
				margin-left: -1px;
			}
		}
	}
	> nav.mobile {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 50px;
		z-index: $z4;
		display: none;
		@media screen and (max-width: $break2) {
			display: block;
		}
	}
	> #contentWrap {
		z-index: $z3;
		margin-left: $navWidth;
		transition: all .3s;
		@media screen and (max-width: $break2) {
			margin-left: 0;
			margin-top: 50px;
			&.mobileShown {
				margin-left: $navWidth - 1;
			}
		}
	}
}

#trackingLine {
	width: $trackingLineWidth;
}

#content {
	width: $contentWidth;
	min-width: $contentMinWidth;
	padding: 2rem 30px 2rem 40px;
	transition: all .3s;
	@media screen and (max-width: $break1) {
		width: auto;
		min-width: inherit;
	}
	@media screen and (max-width: $break2) {
		padding: 1rem 30px 1rem 20px;
	}
	> header {
		width: $headerWidth - ($headerHorizPadding * 2) - 12;
		padding: $headerHorizPadding $headerVertPadding;
		margin: 0 0 10rem 0;
		@media screen and (max-width: $break1) {
			width: auto;
		}
	}
}