*, *:after, *:before {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: $bodyColor;
	@media screen and (max-width: $break1) {
		font-size: 14px;
	}
}

h1, h2, h3, h4 {
	font-weight: normal;
}

a {
	text-decoration: none;
	color: $linkColor;
	transition: color .3s;
	&:hover, &:active, &:focus {color: $linkColorHover;}
}

#container > nav.main {
	a {color: $navColor;}
	font-size: 0.85em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
}

#content > header {
	h1 {
		font-size: 1.1em;
		line-height: 1.2;
		a {
			color: #A3E28A;
			&:hover, &:active, &:focus {color: $green;}
		}
		@media screen and (max-width: $break2) {
			font-size: 1em;
		}
	}
}